body{

margin:0;
font-family:Arial;
background:#111;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#0f6a5f;

}

.logo{

display:flex;
align-items:center;
gap:10px;

}

.logo img{

width:40px;

}

.search{

width:40%;
padding:8px;
border-radius:6px;
border:none;

}

.buttons button{

padding:8px 15px;
margin-left:10px;
border:none;
border-radius:6px;
cursor:pointer;

}

.hero{

text-align:center;
padding:60px;

}

.products{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;

}

.card{

background:#222;
padding:15px;
border-radius:10px;
text-align:center;
transition:0.3s;

}

.card:hover{

transform:scale(1.05);

}

.card img{

width:100%;
border-radius:10px;

}

.card button{

background:#0f6a5f;
border:none;
padding:10px;
margin-top:10px;
border-radius:6px;
color:white;
cursor:pointer;

}

.loginBox{

display:none;
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#222;
padding:30px;
border-radius:10px;

}

.loginBox input{

display:block;
margin:10px 0;
padding:8px;
width:200px;

}
