body{
margin:0;
font-family:Arial;
background:#f4f6f9;
}

/* header */

header{

display:flex;
justify-content:space-between;
align-items:center;
background:#0b1a2d;
padding:15px;
color:white;

}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo img{
width:40px;
}

.search{
width:40%;
padding:10px;
border:none;
border-radius:5px;
}

.navbtn button{

margin-left:10px;
padding:10px 15px;
background:#ff9800;
border:none;
border-radius:5px;
cursor:pointer;

}

/* products */

.products{

padding:20px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;

}

.card{

background:white;
padding:15px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
transition:0.3s;

}

.card:hover{

transform:scale(1.05);

}

.card img{

width:100%;
height:180px;
object-fit:contain;

}

.price{

color:red;
font-size:18px;
font-weight:bold;

}

.cartbtn{

background:#ff9800;
border:none;
padding:8px 10px;
margin:5px;
border-radius:5px;
cursor:pointer;

}

.buybtn{

background:#4caf50;
color:white;
border:none;
padding:8px 10px;
margin:5px;
border-radius:5px;
cursor:pointer;

}

/* cart */

#cartPanel{

position:fixed;
right:-350px;
top:0;
width:300px;
height:100%;
background:white;
box-shadow:-3px 0 10px rgba(0,0,0,0.3);
padding:20px;
transition:0.4s;

}

/* login */

#loginBox{

display:none;
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);

}

#loginBox input{

width:100%;
padding:10px;
margin:5px;

}

/* notification */

#notify{

position:fixed;
right:20px;
bottom:20px;
background:#4caf50;
color:white;
padding:15px;
border-radius:5px;
display:none;

}

/* payment */

#payment{

display:none;
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.3);

}

#payment img{

width:200px;

}
